@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%;}
#layer_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Menu Absolute STR */
.absolute_nav {position:absolute; right:0; top:0;}
.absolute_nav_btn {display:block; margin:0; padding:4px 11px 4px 11px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
/* Menu Absolute END */

/* Bottom Wrap STR */
.bottom_wrap {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:8px; padding-bottom:0; width:100%; gap:0 6px;}
.write_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 10px 4px 10px; background:#6d9ac4; border:1px solid #1469b9; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100;font-size:16px; cursor:pointer;}
/* Bottom Wrap END */

/* Etc STR */
.x100 {width:100px;}
.x150 {width:150px;}
.x500 {width:500px;}
.x500 .layer_popup_form {height:311px;}

.set_form {width:400px !important;}
.set_form .layer_popup_form {height:41px;}

.edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-right:8px; padding:3px 4px; width:fit-content; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; cursor:pointer;}
.edit_btn:hover {background:#e93e72;}
.del_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-right:8px; padding:3px 4px; width:fit-content; background:#ff0000; border:1px solid #ff0000; border-radius:4px; color:#fff; cursor:pointer;}
.del_btn:hover {background:#ff0000;}

.select_all_check {display:none !important;}
/* Etc END */
