@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%; min-height:730px;}
#layer_box {margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Etc STR */
.filter_box > #sch_premium {display:none;}

.mtop20 {margin-top:20px !important;}

.x70 {width:70px;}
.x90 {width:92px;}
.x100 {width:100px;}
.x105 {width:105px;}
.x110 {width:110px;}
.x120 {width:120px;}
.x130 {width:130px;}
.x160 {width:160px;}
.x165 {width:165px;}
.x170 {width:170px;}
.x200 {width:200px;}
.x220 {width:220px;}
.x300 {width:300px;}
.x1050 {width:1050px;}

.v_client_service_view {display:none;}

.filter_box > .filter_input {width:150px !important;}

.talign_c {text-align:center;}
.talign_r {text-align:right;}

#cl_recommended_etc {display:none;}
/* Etc END */

/* Client Write|Edit STR */
.flex_row_addr {display:flex;flex-direction:row;flex-wrap:wrap;align-items:flex-start;justify-content:flex-start;margin:0;padding:0;width:100%;gap:5.5px 6px;}

.y100 {height:100px;}

.input_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content;}
.input_label > input[type=checkbox] {margin-right:3px;}
.input_label > input[type=radio] {margin-right:3px; margin-top:2px;}
/* Client Write|Edit END */

/* Client Write Client Service Layer STR */
#client_service_wrap {position:absolute; left:0; top:0; display:flex; flex-direction:row; align-items:center; justify-content:center; width:100%; height:100%; background:#fff; z-index:10; gap:0 20px;}
.client_service_box {position:relative; margin:0; padding:0;}
.client_service_list {display:flex; flex-direction:column; align-items:center; justify-content:center; margin:0; padding:0; width:250px; height:250px; border:0; border-radius:10px; background:#8091a1; transition:all .3s; cursor:pointer;}
.client_service_list:hover {background:#8b1cd1;}
.client_service_list > img {width:90px;}
.client_service_list > p {margin-top:25px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:25px;}

.client_service_view {display:none;}
.client_service_view_cell {display:none;}
.option_view_cell {display:none;}

.mr_10 {margin-right:10px;}
/* Client Write Client Service Layer END */

/* Client View Layer STR */

.v_cl_memo {margin:0; padding:0; width:100%; height:68px; overflow-y:scroll;}
.v_cl_memo::-webkit-scrollbar {width:3px;}
.v_cl_memo::-webkit-scrollbar-thumb {border:0; border-radius:0; background:#6d9ac4;}

.layer_tit {color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px;}

.v_cl_name_wrap {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:0; width:100%;}

.client_view_item_wrap {display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; width:100%; min-height:40px; gap:6px 0;}
.client_view_item_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:100%; gap:0 6px;}
/* CLient View Layer END */
