@charset "utf-8";

@font-face {
font-family: 'GmarketSansLight';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'GmarketSansBold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'LINESeedKR-Rg';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.activity_wrap {position:relative; margin:0; padding:15px; width:100%;}
.activity_top {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:0; padding-bottom:15px; width:100%;}
.print_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 8px; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; cursor:pointer;}
.activity_box {position:relative; margin:0; padding:0; width:100%;}
.activity_box > h3 {margin:50px auto 160px auto; padding:0; text-align:center; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:40px; letter-spacing:18px;}
.activity_tbl {margin:0; padding:0; width:100%; border-collapse:collapse; border-spacing:0; border:1px solid #000; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:17px;}
.activity_tbl > tbody > tr > th {margin:0; padding:6px 10px; width:200px; height:40px; text-align:center; border:1px solid #000; text-align:center; background:#ddd; letter-spacing:2px;}
.activity_tbl > tbody > tr > td {margin:0; padding:6px 10px; height:40px; text-align:center; border:1px solid #000; background:#fff; letter-spacing:2px;}
.activity_bottom {position:relative; margin:0 auto; padding:0; padding-top:100px; padding-bottom:120px; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:20px;}
.activity_bottom_p1 {margin:0 auto; padding:0; padding-bottom:40px; width:100%; text-align:center;}
.activity_bottom_p2 {margin:0 auto; padding:0; padding-bottom:80px; width:100%; text-align:right;}
.activity_bottom_p3 {margin:0 auto; padding:0; padding-bottom:40px; width:100%; text-align:right;}
.activity_bottom_p4 {margin:0 auto; padding:0; padding-bottom:20px; width:100%; text-align:right;}
.activity_bottom_p5 {margin:0 auto; padding:0; padding-right:100px; width:100%; text-align:right;}
.activity_bottom > img {position:absolute; right:0; bottom:0; margin:0 0 50px 0; width:100px; z-index:-10;}

