@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%;}
#layer_box {margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Member List Layer STR */
.list_wrap {display:flex; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; height:100%;}
.list_wrap > .list_left {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:480px; border:0; border-radius:7px; overflow:hidden;}
.list_wrap > .list_view_box {position:relative; flex:1 1 0%; margin:0; margin-left:20px; padding:0;}
/* Member List Layer END */

/* Member List Left Layer STR */
.list_left > .list_left_top {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:10px; background:#212939; border-bottom:1px solid #12161e;}
.list_left_filter_box {flex:1 1 0%; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; gap:0 6px;}
.filter_select {margin:0; padding:4px 7px; border-radius:3px; font-size:15px;}
.filter_input {margin:0; padding:6px 7px; width:100px; border:0 !important; border-radius:3px; font-size:15px; outline:none !important; box-shadow:none !important;}
#write_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 10px 4px 10px; background:#6d9ac4; border:1px solid #1469b9; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100;font-size:16px; cursor:pointer;}
#edit_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-top:5px; padding:0; width:100%;}
#edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 8px; width:100%; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; cursor:pointer;}
#edit_btn:hover {background:#e93e72;}

.list_left > .list_left_bottom {position:sticky; left:0; bottom:0; display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:8px 10px; width:100%; background:#e5efff;}
.excel_btn {display:block; margin:0; padding:7px 11px 5px 11px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}

.list_left > .list_left_list {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; flex:1 1 0%; background:#283144; overflow:hidden;}
.list_left_list .list_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse;}
.list_tbl > thead > tr > th {margin:0; padding:8px 2px; border-left:1px solid #12161e; border-right:1px solid #12161e; color:#ededed; font-family:'GmarketSansLight'; font-weight:600; font-size:15px;}
.list_tbl > thead > tr > th:first-child {border-left:0;}
.list_tbl > thead > tr > th:last-child {border-right:0;}
.list_tbl > tbody > tr > td {margin:0; padding:8px 2px; border-left:1px solid #12161e; border-right:1px solid #12161e; color:#fff; font-family:'GmarketSansLight'; font-weight:500; font-size:14px; cursor:pointer;}
.list_tbl > tbody > tr > td:first-child {border-left:0;}
.list_tbl > tbody > tr > td:last-child {border-right:0;}
.list_tbl > tbody > tr:nth-child(odd) > td {background:#374769;}
.list_tbl > tbody > tr:hover > td {background:#347976;}
.x40 {width:40px;}
.x45 {width:45px;}
.x60 {width:60px;}
.x80 {width:80px;}
.x90 {width:90px;}
.list_left_list_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; flex:1 1 0%; overflow-y:scroll;}
.list_left_list_box::-webkit-scrollbar {width:3px;}
.list_left_list_box::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
.talign_c {text-align:center;}
/* Member List Left Layer END */

/* Member List View Layer STR */
.list_view_box > .list_view_top_box {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-bottom:4px; padding:0; width:100%;}
.list_view_box .view_tit {color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px;}
.list_view_top_box > #del_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 10px; background:#ff0000; border:1px solid #ff0000; border-radius:4px; color:#fff; cursor:pointer;}
.view_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse; border:2px solid #283144;}
.view_tbl > thead > tr > th {margin:0; padding:5px; border:1px solid #374769; background:#e5efff; font-size:13px;}
.view_tbl > tbody > tr > th {margin:0; padding:5px; border:1px solid #374769; background:#e5efff; font-size:13px;}
.view_tbl > tbody > tr > td {margin:0; padding:5px; border:1px solid #374769; background:#fff; font-size:13px;}
#profile_wrap {position:relative; margin:0 auto; padding:0; width:100%;}
#profile_wrap > img {display:block; margin:0; padding:0; width:100%; max-height:158px;}
.mtop20 {margin-top:20px !important;}
.x100 {width:100px;}
.x110 {width:110px;}
.x120 {width:120px;}
.x130 {width:130px;}
.x150 {width:150px;}
.xp10 {width:10%;}
.xp15 {width:15%;}
.xp100 {width:100% !important;}
.valign_top {vertical-align:top;}
#v_mb_memo {margin:0; padding:0; width:100%; height:68px; overflow-y:scroll;}
#v_mb_memo::-webkit-scrollbar {width:3px;}
#v_mb_memo::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
#v_mb_memo2 {margin:0; padding:0; width:100%; height:74px; overflow-y:scroll;}
#v_mb_memo2::-webkit-scrollbar {width:3px;}
#v_mb_memo2::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
/* Member List View Layer END */

/* Menu STR */
.menu_box {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-bottom:12px; padding:8px 8px 0px 8px; width:100%; background:#e5efff; border:0; border-radius:8px 8px 0px 0px; gap:0 6px;}
.menu_list {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; border:0; border-radius:8px 8px 0px 0px; background:#6d9ac4;}
#menu_list_act {background:#283144;}
.menu_list_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:10px 8px 6px 8px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}

#certificate_nav {position:absolute; right:8px; top:50%; transform:translateY(-50%);}
#certificate_nav_btn {display:block; margin:0; padding:7px 11px 5px 11px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
.certificate_nav_box {display:none; position:absolute; right:0; top:33px; margin:0; padding:7px 12px; width:120px; width:max-content; background:#434a54; border:0; border-radius:4px;}
.certificate_nav_list {position:relative; display:block; margin:0; padding:5px 0; width:100%; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
.certificate_nav_list:hover {color:#ed5684 !important;}
/* Menu END */

/* Member Write|Edit Layer Popup STR */
#layer_popup_bg {display:none; position:fixed; left:0; top:0; width:100vw; height:100vh; background:rgba(0, 0, 0, 0.6); z-index:1000;}
#layer_popup {display:none; position:fixed; left:50%; top:50%; margin:0; padding:0; transform:translate(-50%, -50%); width:1050px; background:#fff; border:0; border-radius:10px; overflow:hidden; z-index:1001;}
#layer_popup_top {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:6px 12px; width:100%; background:#e5efff; border-bottom:1px solid #fff;}
#layer_popup_top > h3 {height:19px; font-family:'GmarketSansMedium'; font-weight:100; font-size:17px;}
#popup_close_btn {display:inline-block; margin:0; padding:0; cursor:pointer;}
#layer_popup_content {margin:0; padding:12px; width:100%;}
#member_submit_btn {position:relative; display:block; margin:0 auto; margin-top:10px; padding:15px; width:100%; text-align:center; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:18px; letter-spacing:1px; background:#ed5684; border:0; border-radius:3px; cursor:pointer;}
#member_submit_btn:hover {background:#e93e72;}
.layer_popup_form {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; max-height:75vh; overflow-y:scroll;}
.layer_popup_form::-webkit-scrollbar {width:0px; display:none;}
.layer_popup_form::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
.layer_popup_tit {color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px;}

.write_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse; border:2px solid #283144;}
.write_tbl > thead > tr > th {margin:0; padding:5px; border:1px solid #374769; background:#e5efff; font-size:13px; height:37px;}
.write_tbl > tbody > tr > th {margin:0; padding:5px; border:1px solid #374769; background:#e5efff; font-size:13px; height:37px;}
.write_tbl > tbody > tr > td {margin:0; padding:5px; border:1px solid #374769; background:#fff; font-size:13px; height:37px;}

#mb_profile_del {display:none;}

.form_hide {display:none !important;}
#profile_write_wrap {position:relative; margin:0 auto; padding:0; width:100%;}
#profile_write_wrap > img {display:block; margin:0; padding:0; min-width:139px; width:100%;}
#profile_btn_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-top:5px; padding:0; width:100%; gap:0px 5px;}
#profile_write_btn {display:inline-block; margin:0; padding:3px 3px; border:1px solid #1469b9; border-radius:4px; color:#fff; font-size:11px; text-align:center; background:#6d9ac4; cursor:pointer;}
#profile_delete_btn {display:inline-block; margin:0; padding:3px 3px; border:1px solid #ff3633; border-radius:4px; color:#fff; font-size:11px; text-align:center; background:#ff7573; cursor:pointer;}
.x220 {width:220px;}
.form_input {position:relative; margin:0; padding:2px 5px; border:1px solid #8e8e8e;}
.form_select {position:relative; margin:0; padding:2px 5px; border:1px solid #8e8e8e;}
.vtop {vertical-align:top;}
.required_txt {margin-left:2px; color:#ff0000;}
.label_flex {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:100%; gap:0px 8px;}
.input_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content;}
.input_label > input {margin-right:3px;}
.ui-datepicker-trigger {margin-left:4px; margin-top:1px; vertical-align:text-top; cursor:pointer;}
.btn_frm_addr {display:inline-block; margin:0; margin-left:6px; padding:4px 8px; border:0; border-radius:3px; color:#fff; background:#434a54; text-decoration:none;}
.form_textarea {position:relative; margin:0 !important; padding:2px 5px; border:1px solid #8e8e8e; width:100%; height:40px; resize:none !important;}

.form_flex {display:flex; flex-direction:row; align-items:flex-start; justify-content:space-between; margin:0; padding:0; width:100%; gap:0px 10px;}
.div_flex {display:flex; flex-direction:row; flex-wrap:wrap; align-items:center; justify-content:flex-start; margin:0; padding:0; width:100%; gap:6px 0;}
.div60 {margin:0; padding:0; width:60%;}
.div_area {margin:0; padding:0; flex:1 1 0%;}
.x115 {width:115px;}
.x125 {width:125px;}
.x145 {width:145px;}
#mb_memo2 {height:54px;}
.list_selected > td {background:#347976 !important;}
/* Member Write|Edit Layer Popup END */
