@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%;}
#layer_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Etc STR */
.x500 {width:500px;}
.x1050 {width:1050px;}

.set_form {width:400px !important;}
.set_form .layer_popup_form {height:41px;}
/* Etc END */

/* Member Education List Wrap STR */
.member_education_list_wrap {flex:1 1 0%; flex:wrap; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; padding:12px; background:#e5efff;}
.member_education_list_box {display:flex; flex-direction:row; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; padding-bottom:12px; width:100%; height:100%; overflow-x:scroll; gap:15px;}
.member_education_list_box::-webkit-scrollbar {height:10px;}
.member_education_list_box::-webkit-scrollbar-thumb {border-right:0;border-radius:0;background:#6d9ac4;}
.member_education_list {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; padding-bottom:10px; width:300px; height:100%; border:0; border-radius:10px; background:#fff; overflow:hidden;}
.member_education_list > div {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:10px; background:#212939;}
.member_education_list > div > p {color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:15px;}
.member_education_list > div > div {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:0; gap:0 6px;}
.member_education_list > ul {flex:1 1 0; display:block; margin:0; margin-top:6px; padding:0 6px; padding-top:2px; width:100%; list-style:none; overflow-y:scroll;}
.member_education_list > ul::-webkit-scrollbar {width:3px;}
.member_education_list > ul::-webkit-scrollbar-thumb {border-right:0;border-radius:0;background:#6d9ac4;}
.member_education_list > ul > li {display:flex; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; margin-bottom:6px; padding:0; width:100%; list-style:none; border:0; border-radius:0; overflow:hidden; cursor:pointer;}
.member_education_list > ul > li:last-child {margin-bottom:2px !important;}
.member_education_list_numb {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; width:35px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; border:1px solid #0c9f91; background:#0c9f91; cursor:pointer;}
.member_education_list_data {margin:0; padding:0; flex:1 1 0%; padding:8px; border:1px solid #ddd; border-left:0;}
.member_education_list_date {margin-bottom:3px; font-family:'GmarketSansMedium'; font-weight:100; font-size:11px;}
.member_education_list_tit {display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.member_education_list_counting {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-top:3px; padding:0; width:100%; gap:0 6px;}
.member_education_list_counting > p {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; border:0; border-radius:4px; background:#f3f3f3; overflow:hidden}
.member_education_list_counting > p > span:first-child {margin:0; padding:3px 5px; color:#fff; background:#4e4a54;}
.member_education_list_counting > p > span:last-child {margin:0; padding:3px 5px; color:#283144;}

.list_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:3px 4px; width:fit-content; background:#fbfbfb; border:1px solid #fbfbfb; border-radius:4px; color:#333; cursor:pointer;}
.list_btn:hover {background:#f3f3f3;}
.edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:3px 4px; width:fit-content; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; cursor:pointer;}
.edit_btn:hover {background:#e93e72;}
.del_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:3px 4px; width:fit-content; background:#ff0000; border:1px solid #ff0000; border-radius:4px; color:#fff; cursor:pointer;}
.del_btn:hover {background:#ff0000;}

.not_data {text-align:center; font-family:'GmarketSansMedium'; font-weight:100; font-size:15px; border:1px solid #ddd;}
/* Member Education List Wrap END */

/* Bottom Wrap STR */
.bottom_wrap {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:8px; padding-bottom:0; width:100%; gap:0 6px;}
.write_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 10px 4px 10px; background:#6d9ac4; border:1px solid #1469b9; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100;font-size:16px; cursor:pointer;}
/* Bottom Wrap END */

/* Member Education Set Write|Edit Layer Popup STR */
.x100 {width:100px;}

.xp100 {width:100% !important;}
/* Member Education Set Write|Edit Layer Popup END */

/* Member Education Write|Edit Layer Popup STR */
.x50 {width:50px;}
.x420 {width:420px;}

.h333 {height:333px;}
.h477 {height:477px;}

.hp100 {height:100% !important;}

#edu_date + .ui-datepicker-trigger {margin-left:-28px;}

.input_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content;}
.input_label > input {margin-right:3px;}

.mtop5 {margin-top:5px;}
.valign_top {vertical-align:top;}

.mb_select_list_box {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; padding-right:5px; width:100%; height:320px; overflow-y:scroll; gap:4px 4px;}
.mb_select_list_box::-webkit-scrollbar {width:3px;}
.mb_select_list_box::-webkit-scrollbar-thumb {border-right:0;border-radius:0;background:#6d9ac4;}
.mb_select_list {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:3px 6px 1px 6px; width:130px; border:0; border-radius:4px; color:#fff; background:#6d9ac4; text-decoration:none; cursor:pointer; gap:0 10px;}
.mb_select_list > span {font-family:'GmarketSansMedium'; font-weight:100; font-size:11px;}
.mb_select_list > span:first-child {max-width:45px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/* Member Education Write|Edit Layer Popup END */






