@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%;}
#layer_box {margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Etc STR */
.x100 {width:100px;}
.x120 {width:120px;}
.x150 {width:150px;}
.x160 {width:160px;}
.x180 {width:180px;}
.x210 {width:210px;}
.x220 {width:220px;}

.xp100 {width:100% !important;}

.y100 {height:100px !important;}

.talign_c {text-align:center;}
.valign_t {vertical-align:top;}

.mtop5 {margin-top:5px !important;}
.mtop20 {margin-top:20px !important;}
/* Etc END */

/* Member View STR */
#profile_wrap {position:relative; margin:0 auto; padding:0; width:100%;}
#profile_wrap > img {display:block; margin:0; padding:0; width:100%; max-height:158px;}

#certificate_nav {position:absolute; right:8px; top:50%; transform:translateY(-50%);}
#certificate_nav_btn {display:block; margin:0; padding:7px 11px 4px 11px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
.certificate_nav_box {display:none; position:absolute; right:0; top:33px; margin:0; padding:7px 12px; width:120px; width:max-content; background:#434a54; border:0; border-radius:4px;}
.certificate_nav_list {position:relative; display:block; margin:0; padding:5px 0; width:100%; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
.certificate_nav_list:hover {color:#ed5684 !important;}

.help_txt {margin-top:5px; color:#ff0000;}

.certificate_select {width:410px !important;}
.certificate_select .layer_popup_form {height:169px !important;}
/* Member View END */

/* Member Write|Edit STR */
.x1050 {width:1050px;}

#profile_write_wrap {position:relative; margin:0 auto; padding:0; width:100%;}
#mb_profile_del, #mb_profile {display:none;}
#profile_write_wrap > img {display:block; margin:0; padding:0; min-width:139px; width:100%; max-height:158px;}
#profile_btn_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-top:5px; padding:0; width:100%; gap:0 5px;}
#profile_write_btn {display:inline-block; margin:0; padding:3px 3px; border:1px solid #1469b9; border-radius:4px; color:#fff; font-size:11px; text-align:center; background:#6d9ac4; cursor:pointer;}
#profile_delete_btn {display:inline-block; margin:0; padding:3px 3px; border:1px solid #ff3633; border-radius:4px; color:#fff; font-size:11px; text-align:center; background:#ff7573; cursor:pointer;}

.input_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content;}
.input_label > input {margin-right:3px;}

.flex_row_addr {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; width:100%; gap:5.5px 6px;}
/* Member Write|Edit END */