@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:710px;}
#layer_box {margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Layer Wrap STR */
.flex_row {display:flex; flex-direction:row; align-items:flex-start; justify-content:stretch; margin:0; padding:0; width:100%; height:100%; gap:15px;}
.flex_sub1 {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:480px; height:100%;}
.flex_sub2 {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:400px; height:100%; overflow:hidden;}
.flex_sub3 {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; flex:1 1 0%; height:100%;}
.sub_tit {display:block; margin:0; margin-bottom:5px; padding:8px 8px 0px 8px; width:100%; color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px;}
/* Layer Wrap END */

/* Filter STR */
.member {display:none;}
.client {display:none;}
.manager {display:none;}
/* Filter END */

/* To Wrap STR */
.to_wrap {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:12px; width:100%; height:100%; background:#f3f3f3; border:1px solid #cdcbca; overflow:hidden;}
.to_tit {display:block; margin:0; margin-bottom:5px; padding:0; width:100%; color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.to_add_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-bottom:10px; padding:0; width:100%; gap:0 5px;}
.to_add_input {padding:6px 7px; width:120px; border-radius:3px; font-size:15px; outline:none !important; box-shadow:none !important; border:1px solid #ddeded !important;}
.to_add_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 13px; font-size:15px; border:0; border-radius:3px; color:#fff; background:#434a54; text-decoration:none; cursor:pointer;}
.to_list_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:10px; background:#fff; flex:1 1 0%; border:1px solid #cdcbca; overflow-y:scroll;}
.to_list {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:5px 0; border-bottom:1px dashed #ddd;}
.to_list_cate {width:80px; font-size:14px;}
.to_list_name {width:80px; font-size:14px;}
.to_list_hp {width:130px; font-size:14px;}
.to_list_del_btn {display:inline-block; margin:0; padding:3px 5px; color:#fff; font-size:14px; background:#ff7573; border:1px solid #ff3633; border-radius:4px; text-align:center; cursor:pointer;}
.to_list_all_del_btn {display:inline-block; margin:0; margin-top:10px; padding:3px 5px; width:fit-content; color:#fff; font-size:14px; background:#ff7573; border:1px solid #ff3633; border-radius:4px; text-align:center; cursor:pointer;}
/* To Wrap END */

/* SMS Message Wrap STR */
.sms_message_wrap {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; height:100%; border:2px solid #283144;}
.sms_message_sbj {margin:0; padding:10px; width:100%; font-weight:600; font-size:14px; background:#e5efff; text-align:center; border-bottom:1px solid #283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.sms_message_box {position:relative; margin:0; padding:0; width:100%; flex:1 1 0%; background:#fff; overflow-y:scroll;}
.sms_message_box::-webkit-scrollbar {width:3px;}
.sms_message_box::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
.sms_message_list {margin:0; padding:6px 3px; border-bottom:1px solid #283144; font-size:13px; cursor:pointer; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:14px;}
.sms_message_list:hover {background:#d8f8c0; cursor:pointer;}
/* SMS Message Wrap END */

/* SMS Send Wrap STR */
.sms_send_wrap {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:10px; width:100%; background:#f3f3f3; border:1px solid #cdcbca;}
.message_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px; width:100%; border:1px solid #cdcbca; background:#fbfbfb;}
.sms_send_wrap #send_message {position:relative; margin:10px 0; padding:10px; width:100%; height:150px; background:#e5efff; border:1px solid #1469b9; resize:none; overflow-y:scroll;}
.message_box > label {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-right:6px;}
.message_box > label > input[type="checkbox"] {margin-right:4px;}
#booking_date {margin:0; padding:4px 8px; width:100px; height:28px; background:#fff; border:1px solid #ddd;}
#booking_date + .ui-datepicker-trigger {margin-left:-22px; margin-right:6px; cursor:pointer;}
#booking_time {margin:0; margin-left:6px; padding:4px 8px; height:28px; border:1px solid #ddd;}
/* SMS Send Wrap END */