@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:710px;}
#layer_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Layer List Wrap STR */
.layer_list_wrap {flex:1 1 0%; display:flex; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; padding:12px; width:100%; background:#e5efff; overflow-y:hidden;}
/* Layer List Wrap END */

/* Branch List STR */
.branch_list_box {display:flex; flex-direction:row; flex-wrap:wrap; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; gap:12px 1%; overflow-y:scroll;}
.branch_list_box::-webkit-scrollbar {display:none; width:0px;}
.branch_list_box::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
.branch_list {position:relative; display:flex; flex-direction:column; align-items:center; justify-content:flex-start; margin:0; padding:30px 16px; width:24%; height:296.5px; background:#fff; border:0; border-radius:10px; box-shadow:0px 0px 3px 1px #cdcdcd; cursor:pointer; transition:all .2s;}
.branch_list > h3 {margin:0 auto; padding:0; color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:22px;}
.branch_list:hover > h3 {color:#ed5684;}
.branch_list > div {display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; margin:0; margin-top:30px; padding:0; width:100%; gap:12px 0;}
.branch_list > div > p {display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; width:100%; gap:3px 0;}
.branch_list > div > p > label {display:block; margin:0; padding:5px 8px 3px 8px; border:0; border-radius:4px; color:#fff; background:#4e4a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:12px;}
.branch_list > div > p > span {margin:0; padding:0; font-family:'GmarketSansMedium'; font-weight:100; font-size:12px;}
.branch_list_empty {width:100%;}

.edit_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-top:15px; padding:0; width:100%;}
.edit_box > .edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 8px; width:100%; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; cursor:pointer;}
.edit_box > .edit_btn:hover {background:#e93e72;}
.branch_list > .del_btn {position:absolute; top:30px; right:16px; display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 8px; background:#ff0000; border:1px solid #ff0000; border-radius:4px; color:#fff; cursor:pointer;}
.branch_list > .del_btn:hover {background:#ff0000;}
/* Branch List END */

/* Bottom Wrap STR */
.bottom_wrap {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:8px; padding-bottom:0; width:100%; gap:0 6px;}
.write_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 10px 4px 10px; background:#6d9ac4; border:1px solid #1469b9; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100;font-size:16px; cursor:pointer;}
/* Bottom Wrap END */

/* Branch Write STR */
.x130 {width:130px;}
.x500 {width:500px;}

.xp100 {width:100%;}
/* Branch Write STR */