@charset "utf-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family:'Malgun Gothic', dotum, sans-serif;background:#fff}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Malgun Gothic', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
input, button {margin:0;padding:0;font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.placeholdersjs {color:#aaa !important}

/* 레이아웃 크기 지정 */
#hd, #ft {padding:0 30px; min-width:1600px}

#tnb,
#ft_copy {width:1600px}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops img {max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:left}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0}

/* 상단 레이아웃 */
#hd {background:#eef1f5; border-bottom:1px solid #b7b7b7;}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#tnb {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:8px 0;}
#tnb > h4 {font-family:'Noto Sans KR',sans-serif; font-size:16px;}
#tnb > p {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:5px 16px; width:225px; height:30px; color:#fff; font-family:'Noto Sans KR',sans-serif; font-weight:500; font-size:15px; background:#0c9f91; border:0; border-radius:6px;}
#tnb > ul {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0;}
#tnb > ul > li {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-right:10px; padding:0;}
#tnb > ul > li:last-child {margin-right:0;}
#tnb > ul > li > span {font-family:'Noto Sans KR',sans-serif; font-size:14px;}

.tnb_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-right:6px; padding:4px 8px; background:#6d9ac4; border:1px solid #1469b9; border-radius:4px; color:#fff;}
.tnb_logout_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 8px; background:#fff; border:1px solid #aaa; border-radius:4px;}

#hd_wrapper {position:relative;margin:0 auto;height:140px;zoom:1}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

.hd_login {position:absolute;right:0;top:60px}
.hd_login li {float:left;margin:0 5px;border-left:1px solid #616161;padding-left:10px;line-height:13px}
.hd_login li:first-child {border-left:0}
.hd_login a {color:#fff}


/* 메인메뉴 */
#gnb {position:relative;background:#fff}
#gnb > h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_wrap {margin:0 auto;position:relative}
#gnb .gnb_wrap:hover, #gnb .gnb_wrap:focus, #gnb .gnb_wrap:active{z-index:3}
#gnb #gnb_1dul {font-size:1.083em;padding:0;border-bottom:1px solid #e0e2e5;zoom:1}
#gnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb .gnb_1dli {float:left;line-height:55px;padding:0px;position:relative}
#gnb .gnb_1dli:hover > a {color:#3a8afd;
-webkit-transition:background-color 2s ease-out;
-moz-transition:background-color 0.3s ease-out;
-o-transition:background-color 0.3s ease-out;
transition:background-color 0.3s ease-out}

.gnb_1dli .bg {position:absolute;top:24px;right:8px;display:inline-block;width:10px;height:10px;overflow:hidden;background:url('../img/gnb_bg2.gif') no-repeat 50% 50%;text-indent:-999px}
.gnb_1da {display:block;font-weight:bold;padding:0 15px;color:#080808;text-decoration:none}
.gnb_1dli.gnb_al_li_plus .gnb_1da{padding-right:25px}
.gnb_2dli:first-child {border:0}
.gnb_2dul {display:none;position:absolute;top:54px;min-width:140px;padding-top:2px}
.gnb_2dul .gnb_2dul_box {border:1px solid #e0e2e5;border-top:0;padding:0;
-webkit-box-shadow:0px 1px 5px rgba(97, 97, 97, 0.2);
-moz-box-shadow:0px 1px 5px rgba(97, 97, 97, 0.2);
box-shadow:0px 1px 5px rgba(97, 97, 97, 0.2)}
.gnb_2da {display:block;padding:0 10px;line-height:40px;background:#fff;color:#080808;text-align:left;text-decoration:none}
a.gnb_2da:hover {color:#3a8afd;background:#f7f7f8;
-moz-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
transition:all 0.3s ease-out}

.gnb_1dli_air .gnb_2da {}
.gnb_1dli_on .gnb_2da {}
.gnb_2da:focus, .gnb_2da:hover {color:#fff}
.gnb_1dli_over .gnb_2dul {display:block;left:0}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0}
.gnb_wrap .gnb_empty {padding:10px 0;width:100%;text-align:center;line-height:2.7em;color:#080808}
.gnb_wrap .gnb_empty a {color:#3a8afd;text-decoration:underline}
.gnb_wrap .gnb_al_ul .gnb_empty, .gnb_wrap .gnb_al_ul .gnb_empty a {color:#555}

#gnb .gnb_menu_btn {background:#4158d1;color:#fff;width:50px;height:55px;border:0;vertical-align:top;font-size:18px}
#gnb .gnb_close_btn {background:#fff;color:#b6b9bb;width:50px;height:50px;border:0;vertical-align:top;font-size:18px;position:absolute;top:0;right:0}
#gnb .gnb_mnal {float:right;padding:0}

#gnb_all {display:none;position:absolute;border:1px solid #c5d6da;width:100%;background:#fff;z-index:1000;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);
box-shadow:0 2px 5px rgba(0,0,0,0.2)}
#gnb_all h2 {font-size:1.3em;padding:15px 20px;border-bottom:1px solid #e7eeef}
#gnb_all .gnb_al_ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb_all .gnb_al_ul > li:nth-child(5n+1) {border-left:0}
#gnb_all .gnb_al_li {float:left;width:20%;min-height:150px;padding:20px;border-left:1px solid #e7eeef}
#gnb_all .gnb_al_li .gnb_al_a {font-size:1.2em;display:block;position:relative;margin-bottom:10px;font-weight:bold;color:#3a8afd}
#gnb_all .gnb_al_li li {line-height:2em}
#gnb_all .gnb_al_li li a {color:#555}
#gnb_all_bg {display:none;background:rgba(0,0,0,0.1);width:100%;height:100%;position:fixed;left:0;top:0;z-index:999}

/* 중간 레이아웃 */
#wrapper {min-width:1630px; padding:0; padding-right:30px; background:#eff3f4; min-height:700px; height:calc(100vh - 107px);}
#container_wr {display:flex; flex-direction:row-reverse; align-items:stretch; justify-content:flex-end; margin:0 auto; padding:0; width:100%; height:100%; zoom:1}
#aside {display:flex;flex-direction:row;align-items:stretch;justify-content:stretch;margin:0;padding:15px;width:230px;background:#fff;border-right:1px solid #b7b7b7;overflow-x:hidden;overflow-y:scroll;}
#aside::-webkit-scrollbar {width: 3px;}
#aside::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#283144;}
.left_menu_box {margin:0; padding:0; width:100%;}
.left_menu_box > li {margin:0; margin-bottom:13px; padding:0; width:100%;}
.left_menu_box > li:last-child {margin-bottom:0;}
.left_menu_box > li > a {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:12px 15px; width:100%; border:0; border-radius:2px 40px 40px 2px; background:#283144; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:14px; transition:all .3s;}
.left_menu_box > li > a:hover {background:#6d9ac4;}
#left_menu_sitemap_active {position:relative; background:#6d9ac4;}
#left_menu_active {position:relative; background:#6d9ac4;}

.mn_sub_box {display:none; position:absolute; left:190px; top:47px; margin:0; padding:0; width:270px; min-height:700px; height:calc(100% - 107px); border-right:1px solid #b7b7b7; border-radius:0px 10px 10px 0px; overflow-y:hidden;}
.left_menu_sub_active {position:relative; background:#6d9ac4 !important;}
.left_menu_sub_active:after {content:''; position:absolute; top:0; left:175px; margin:0; padding:0; width:50px; height:100%; background:#6d9ac4;}
.left_menu_sub_active + .mn_sub_box {display:block;}
.mn_sub_box > div {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; margin-left:33px; padding:0; height:100%; background:#fff; border-left:5px solid #6d9ac4; overflow-y:hidden; z-index:100;}
.mn_sub_top {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:10px; width:100%;}
.mn_sub_close_btn {display:inline-block; margin:0; padding:0; cursor:pointer;}
.mn_sub_nav_box {flex:1 1 0%; margin:0; padding:10px; padding-top:0; overflow-y:scroll;}
.mn_sub_nav_box::-webkit-scrollbar {width: 3px; background:#fff;}
.mn_sub_nav_box::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#283144;}

.mn_sub_ul {position:relative; margin:0; padding:0; width:100%;}
.mn_sub_ul > li {margin:5px 0;}
.mn_sub_ul > li > a {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:8px 15px; width:100%; border:0; border-radius:5px; color:#333; font-family:'NanumSquare',sans-serif; font-weight:600; font-size:18px; background:#fff; transition:all .2s;}
.mn_sub_ul > li > a:hover {color:#fff; background:#6d9ac4;}

#aside > .left_menu_box > li > h4 {margin:25px 0 5px 0; font-family:'GmarketSansMedium'; font-weight:100; font-size:20px;}

.mn_box {margin:0; padding:0; width:100%;}
.mn_box > li {margin:0; padding:0; padding-bottom:13px; width:100%;}
.mn_box > li > a {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:12px 15px; width:100%; border:0; border-radius:2px 40px 40px 2px; background:#283144; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:14px; cursor:pointer; transition:all .3s;}
.mn_box > li > a:hover {background:#6d9ac4;}

#container {position:relative;min-height:500px;height:auto !important;margin:20px 0;font-size:1em;width:1400px;zoom:1}
#container_title {font-size:1.333em;margin:0 auto;font-weight:bold}
#container_title span {margin:0 auto 10px;display:block;line-height:30px;}

.lt_wr {width:32%}
.lt_wr:nth-child(3n+1) {clear:both}
.latest_wr {margin-bottom:20px}
.latest_wr:after {display:block;visibility:hidden;clear:both;content:""}
.latest_top_wr {margin:0 -10px 20px}
.latest_top_wr:after {display:block;visibility:hidden;clear:both;content:""}

/* 하단 레이아웃 */
#ft {background:#212020;margin:0 auto; width:100%;}
#ft_copy {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0 auto; padding:20px 0; color:#ffffff; font-family:'LINESeedKR-Rg',sans-serif; font-size:14px;}

/* 게시물 선택복사 선택이동 */
#copymove {}
#copymove .win_desc {text-align:center;display:block}
#copymove .tbl_wrap {margin:20px}
#copymove .win_btn {padding:0 20px 20px}
.copymove_current {float:right;background:#ff3061;padding:5px;color:#fff;border-radius:3px}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {height:40px;border:1px solid #898989;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span {display:none}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha2.png') no-repeat 0 0 ; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc {display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl {margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* ckeditor 태그 기본값 */
#bo_v_con ul {display:block;list-style-type:disc;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con ol {display:block;list-style-type:decimal;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con li {display:list-item}

/* 버튼 */
a.btn,.btn {line-height:35px;height:35px;padding:0 10px;text-align:center;font-weight:bold;border:0;font-size:1.4em;
-webkit-transition:background-color 0.3s ease-out;
-moz-transition:background-color 0.3s ease-out;
-o-transition:background-color 0.3s ease-out;
transition:background-color 0.3s ease-out}

a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:right} /* 서식단계 진행 */

.btn_submit {border:0;background:#ed5684;color:#fff;cursor:pointer;border-radius:3px}
.btn_submit:hover {background:#e93e72}
.btn_close {border:1px solid #dcdcdc;cursor:pointer;border-radius:3px;background:#fff}
a.btn_close {text-align:center;line-height:50px}

a.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
.btn_cancel:hover {background:#aaa}
a.btn_frmline, button.btn_frmline {display:inline-block;width:128px;padding:0 5px;height:40px;border:0;background:#434a54;border-radius:3px;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;color:#bababa;text-decoration:none;vertical-align:middle;border:0;background:transparent}
.btn_b01:hover, .btn_b01:hover {color:#000}
a.btn_b02,.btn_b02 {display:inline-block;background:#253dbe;padding:0 10px;color:#fff;text-decoration:none;border:0;vertical-align:middle}
a.btn_b02:hover, .btn_b02:hover {background:#0025eb}
a.btn_b03, .btn_b03 {display:inline-block;background:#fff;border:1px solid #b9bdd3;color:#646982;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {background:#ebedf6}
a.btn_b04, .btn_b04 {display:inline-block;background:#fff;border:1px solid #ccc;color:#707070;text-decoration:none;vertical-align:middle}
a.btn_b04:hover, .btn_b04:hover {color:#333;background:#f9f9f9}
a.btn_admin,.btn_admin {display:inline-block;color:#d13f4a;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:hover, a.btn_admin:hover {color:#ff3746}


/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0 5px;background:#fff;border-top:1px solid #ececec;border-bottom:1px solid #ececec} 
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}
.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #ececec;height:40px}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-bottom:1px solid #e8e8e8}
.tbl_head01 td {color:#666;padding:10px 5px;border-top:1px solid #ecf0f1;border-bottom:1px solid #ecf0f1;line-height:1.4em;height:60px;word-break:break-all}
.tbl_head01 tbody tr:hover td {background:#fafafa}
.tbl_head01 a:hover {text-decoration:underline}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.wr_content textarea,.tbl_frm01 textarea,.form_01 textarea, .frm_input {border:1px solid #d0d3db;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:40px}

.full_input {width:100%}
.half_input {width:49.5%}
.twopart_input {width:385px;margin-right:10px}
.tbl_frm01 textarea, .write_div textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/*기본 리스트*/
.list_01 ul {border-top:1px solid #ececec}
.list_01 li {border-bottom:1px solid #ececec;background:#fff;padding:10px 15px;list-style:none;position:relative}
.list_01 li:nth-child(odd) {background:#f6f6f6}
.list_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.list_01 li:hover {background:#f9f9f9}
.list_01 li.empty_li {text-align:center;padding:20px 0;color:#666}

/*폼 리스트*/
.form_01 h2 {font-size:1.167em}
.form_01 li {margin-bottom:10px}
.form_01 ul:after,
.form_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.form_01 .left_input {float:left}
.form_01 .margin_input {margin-right:1%}
.form_01 textarea {height:100px;width:100%}
.form_01 .frm_label {display:inline-block;width:130px}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;color:#666;text-align:center}

/* 필수입력 */
.required, textarea.required {background-image:url('../img/require.png') !important;background-repeat:no-repeat !important;background-position:right top !important}

/* 테이블 항목별 정의 */
.td_board {width:80px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {position:relative}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {font-size:1.3em;height:50px;line-height:30px;padding:10px 20px;background:#fff;color:#000;-webkit-box-shadow:0 1px 10px rgba(0,0,0,.1);
-moz-box-shadow:0 1px 10px rgba(0,0,0,.1);
box-shadow:0 1px 10px rgba(0,0,0,.1)}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin-bottom:15px;padding:0 20px}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;background:#fff;text-align:center;padding:0 10px;border:1px solid #d6e9ff;border-radius:30px;margin-left:5px}
.new_win .win_ul li:first-child {margin-left:0}
.new_win .win_ul li a {display:block;padding:8px 0;color:#6794d3}
.new_win .win_ul .selected {background:#3a8afd;border-color:#3a8afd;position:relative;z-index:5}
.new_win .win_ul .selected a {color:#fff;font-weight:bold}
.new_win .win_desc {position:relative;margin:10px;border-radius:5px;font-size:1em;background:#f2838f;color:#fff;line-height:50px;text-align:left;padding:0 20px}
.new_win .win_desc i {font-size:1.2em;vertical-align:baseline}
.new_win .win_desc:after {content:"";position:absolute;left:0;top:0;width:4px;height:50px;background:#da4453;border-radius:3px 0 0 3px}
.new_win .frm_info {font-size:0.92em;color:#919191}
.new_win .win_total {float:right;display:inline-block;line-height:30px;font-weight:normal;font-size:0.75em;color:#3a8afd;background:#f6f6f6;padding:0 10px;border-radius:5px}
.new_win .new_win_con {margin:20px 0;padding:20px}
.new_win .new_win_con:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .new_win_con2 {margin:20px 0}
.new_win .btn_confirm:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_btn {text-align:center}
.new_win .cert_btn {margin-bottom:30px;text-align:center}
.new_win .btn_close {padding:0 20px;height:45px;overflow:hidden;cursor:pointer}
.new_win .btn_submit {padding:0 20px;height:45px;font-weight:bold;font-size:1.083em}

/* 검색결과 색상 */
.sch_word {color:#fff;background:#ff005a;padding:2px 5px 3px;line-height:18px;margin:0 2px}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;font-size:0.92em;background:#333;
-webkit-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2)}
.sv_wrap .sv:before {content:"";position:absolute;top:-6px;left:15px;width:0;height:0;border-style:solid;border-width:0 6px 6px 6px;border-color:transparent transparent #333 transparent}
.sv_wrap .sv a {display:inline-block;margin:0;padding:0 10px;line-height:30px;width:100px;font-weight:normal;color:#bbb}
.sv_wrap .sv a:hover {background:#000;color:#fff}
.sv_member {color:#333}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;float:left;display:inline-block}
.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""} 
.pg {text-align:center}
.pg_page, .pg_current {display:inline-block;vertical-align:middle;background:#eee;border:1px solid #eee}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {color:#959595;font-size:1.083em;height:30px;line-height:28px;padding:0 5px;min-width:30px;text-decoration:none;border-radius:3px}
.pg_page:hover {background-color:#fafafa}
.pg_start {text-indent:-999px;overflow:hidden;background:url('../img/btn_first.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_prev {text-indent:-999px;overflow:hidden;background:url('../img/btn_prev.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_end {text-indent:-999px;overflow:hidden;background:url('../img/btn_end.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_next {text-indent:-999px;overflow:hidden;background:url('../img/btn_next.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_start:hover,.pg_prev:hover,.pg_end:hover,.pg_next:hover {background-color:#fafafa}

.pg_current {display:inline-block;background:#3a8afd;border:1px solid #3a8afd;color:#fff;font-weight:bold;height:30px;line-height:30px;padding:0 10px;min-width:30px;border-radius:3px}

/* cheditor 이슈 */
.cheditor-popup-window *, .cheditor-popup-window :after, .cheditor-popup-window :before {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

/* Mobile화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}






/* Layer Popup STR */
#layer_popup_bg, #select_layer_popup_bg {display:none; position:fixed; left:0; top:0; width:100vw; height:100vh; background:rgba(0, 0, 0, 0.6); z-index:20;}
#layer_popup, #select_layer_popup {display:none; position:fixed; left:50%; top:50%; margin:0; padding:0; transform:translate(-50%, -50%); background:#fff; border:0; border-radius:10px; overflow:hidden; z-index:21;}
#layer_popup_top {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:6px 12px; width:100%; background:#e5efff; border-bottom:1px solid #fff;}
#layer_popup_top > h3 {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; height:19px; line-height:22px; font-family:'GmarketSansMedium'; font-weight:100; font-size:17px; gap:0 6px;}
#popup_close_btn, #select_popup_close_btn {display:block; margin:0; padding:0; width:32px; height:32px; cursor:pointer;}
#popup_close_btn > img {display:block;}

#layer_popup_top > h3 > .edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 6px 1px 6px; width:fit-content; height:24px; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; text-align:center; font-size:13px; cursor:pointer;}
#layer_popup_top > h3 > .edit_btn:hover {background:#e93e72;}

#layer_popup_content {margin:0; padding:12px; width:100%;}
.layer_popup_form {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; max-height:75vh; overflow-y:scroll;}
.layer_popup_form::-webkit-scrollbar {width:0px; display:none;}
.layer_popup_form::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}

.layer_popup_tit {color:#283144; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px;}
/* Layer Popup END */

/* Write Form STR */
.form_tbl_wrap {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; border:1px solid #283144;}
.form_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse; border:1px solid #283144;}
.form_tbl > tbody > tr > th {margin:0; padding:6px 6px; border:1px solid #374769; background:#e5efff; font-size:13px;}
.form_tbl > tbody > tr > td {margin:0; padding:6px 6px; border:1px solid #374769; background:#ffffff;}

.form_input {position:relative; margin:0; padding:0 5px; height:25px; border:1px solid #8e8e8e; outline:none !important;}
.form_input_date {position:relative; margin:0; padding:0 5px; width:105px; height:25px; border:1px solid #8e8e8e; outline:none !important;}
.form_input_date + .ui-datepicker-trigger {position:relative; margin:0; margin-left:-22px; margin-right:6px; padding:0; vertical-align:text-top; cursor:pointer; z-index:1;}
.form_select {position:relative; margin:0; padding:0 5px; height:25px; border:1px solid #8e8e8e;  outline:none !important;}
.form_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content;}
.form_checkbox {position:relative; margin:0; margin-right:3px; padding:0; vertical-align:baseline; width:16px; height:16px;  outline:none !important;}
.form_radio {position:relative; margin:0; margin-right:3px; padding:0; vertical-align:baseline; width:16px; height:16px;  outline:none !important;}
.form_textarea {position:relative; display:block; margin:0; padding:5px 5px; width:100%; border:1px solid #8e8e8e; resize:none !important;}

.flex_row {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; gap:0 6px;}
.flex_row_between {justify-content:space-between !important;}

.form_btn1 {display:inline-block; margin:0; padding:3px 6px; border:1px solid #1469b9; border-radius:3px; color:#ffffff; font-weight:400; font-size:12px; text-align:center; background:#6d9ac4; cursor:pointer;}

.submit_btn {position:relative; display:block; margin:0 auto; margin-top:10px; padding:15px; width:100%; text-align:center; color:#ffffff; font-family:'GmarketSansMedium'; font-weight:100; font-size:18px; letter-spacing:1px; background:#ed5684; border:0; border-radius:3px; cursor:pointer;}
.submit_btn:hover {background:#e93e72;}

.required_txt {margin-left:2px; color:#ff0000;}
/* Write Form END */

/* Client Select Form STR */
.client_select_filter_wrap {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-bottom:12px; padding:8px; width:100%; background:#e5efff;}
.client_select_filter_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:0; width:100%; gap:0 6px;}
.client_select_filter_input {position:relative; margin:0; padding:0 6px; width:120px; height:33px; border:1px solid #000; border-radius:3px; font-size:15px; outline:none !important;}
.client_select_filter_submit {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:6px 10px 4px 10px; background:#434a54; border:1px solid #434a54; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px; cursor:pointer;}
.client_select_list_box {position:relative; margin:0; padding:0; width:100%; height:250px; overflow-y:scroll; border:2px solid #283144; background:#fff;}
.client_select_list_box::-webkit-scrollbar {width:3px;}
.client_select_list_box::-webkit-scrollbar-thumb {border-right:0;border-radius:0;background:#6d9ac4;}

.client_select_list_hd_tbl {position:sticky; left:0; top:0; width:100%; background:#e5efff; border:0; border-collapse:collapse; border-spacing:0; z-index:20;}
.client_select_list_hd_tbl > thead > tr > th {margin:0; padding:6px 5px 2px 5px; height:30px; background:#e5efff; border:1px solid #374769; border-top:0; text-align:center; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.client_select_list_hd_tbl > thead > tr > th:first-child {border-left:0;}

.client_select_list_tbl {position:relative; margin:0; padding:0; width:100%; background:#fff; border:0; border-collapse:collapse; border-spacing:0; z-index:0;}
.client_select_list_tbl > tbody > tr > td {margin:0; padding:6px 5px 2px 5px; height:28px; background:#fff; border:1px solid #374769; text-align:center; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.client_select_list_tbl > tbody > tr > td:first-child {border-left:0;}
.client_select_list_tbl > tbody > tr:hover > td {background:#d8f8c0; cursor:pointer;}
.client_select_list_selected > td {background:#d8f8c0 !important;}

.client_select_list_ft_tbl {position:sticky; left:0; bottom:0; width:100%; background:#e5efff; border:0; border-collapse:collapse; border-spacing:0; z-index:20;}
.client_select_list_ft_tbl > thead > tr > th {margin:0; padding:6px 5px 2px 5px; height:30px; background:#e5efff; border:1px solid #374769; border-top:0; text-align:left; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.client_select_list_ft_tbl > thead > tr > th:first-child {border-left:0;}

.client_select_list_check {width:50px;}
.client_select_list_hp {width:140px;}
.client_select_list_name {width:90px;}
.client_select_list_service_category {width:110px;}
/* Client Select Form END */

/* Year Filter Layer STR */
.filter_year_wrap {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-bottom:12px; padding:8px; width:100%; background:#e5efff; border:0; border-radius:5px;}
.filter_year_wrap > .year_box {flex:1 1 0%; display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; gap:0 10px;}
.filter_year_wrap > .year_box > .filter_year_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; cursor:pointer;}
.filter_year_wrap > .year_box > .filter_year_tit {margin:0; padding:0; height:25px; font-family:'GmarketSansMedium'; font-weight:100; font-size:24px;}
.filter_year_wrap > .filter_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:0; gap:0 6px;}
.filter_year_wrap > .filter_box > .filter_input_date {margin:0; padding:6px; width:120px; height:33px; border:1px solid #000; border-radius:3px; font-size:15px; outline:none !important;}
.filter_year_wrap > .filter_box > .filter_input_date + .ui-datepicker-trigger {margin-left:-28px; margin-right:6px; margin-top:1px; vertical-align:text-top; cursor:pointer;}
.filter_year_wrap > .filter_box > .filter_input {margin:0; padding:6px 7px; width:170px; border:1px solid #000 !important; border-radius:3px; font-size:15px; outline:none !important; box-shadow:none !important;}
.filter_year_wrap > .filter_box > .filter_submit {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:7px 10px 4px 10px; background:#434a54; border:1px solid #434a54; border-radius:4px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100;font-size:16px; cursor:pointer;}
/* Year Filter Layer END */

/* Layer List Wrap STR */
.layer_list_wrap {flex:1 1 0%; display:flex; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; padding:12px; width:100%; background:#e5efff; overflow-y:hidden;}
.layer_list_box {position:relative; margin:0; padding:0; width:100%; height:100%; overflow-y:scroll; border:2px solid #283144; background:#fff;}
.layer_list_box::-webkit-scrollbar {width:3px; height:10px;}
.layer_list_box::-webkit-scrollbar-thumb {border-right:0;border-radius:0;background:#6d9ac4;}

.layer_list_hd_tbl {position:sticky; left:0; top:0; margin:0; padding:0; width:100%; background:#e5efff; border:0; border-collapse:collapse; border-spacing:0; z-index:1;}
.layer_list_hd_tbl > thead > tr > th {margin:0; padding:6px 5px 2px 5px; height:30px; background:#e5efff; border:1px solid #374769; border-top:0; text-align:center; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.layer_list_hd_tbl > thead > tr > th:first-child {border-left:0;}

.layer_list_tbl {position:relative; margin:0; padding:0; width:100%; background:#fff; border:0; border-collapse:collapse; border-spacing:0; z-index:0;}
.layer_list_tbl > tbody > tr > td {margin:0; padding:6px 5px 2px 5px; height:28px; background:#fff; border:1px solid #374769; text-align:center; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.layer_list_tbl > tbody > tr > td:first-child {border-left:0;}
.layer_list_tbl > tbody > tr:hover > td {background:#d8f8c0; cursor:pointer;}
.layer_list_tbl > tbody > tr > td > .btn_flex {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; padding-bottom:4px; width:100%; gap:0 6px;}

.not_list {height:100px !important;}

.layer_list_ft_tbl {position:sticky; left:0; bottom:0; width:100%; background:#e5efff; border:0; border-collapse:collapse; border-spacing:0; z-index:20;}
.layer_list_ft_tbl > thead > tr > th {margin:0; padding:6px 5px 2px 5px; height:30px; background:#e5efff; border:1px solid #374769; border-top:0; text-align:left; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px;}
.layer_list_ft_tbl > thead > tr > th:first-child {border-left:0;}

.layer_list_numb {width:60px;}
.layer_list_date {width:150px;}
.layer_list_comp_category {width:170px;}
.layer_list_name {width:130px;}
.layer_list_service_category {width:150px;}
.layer_list_tel {width:190px;}
.layer_list_status {width:130px;}
.layer_list_sms_category {width:110px;}
.layer_list_booking {width:80px;}
/* Layer List Wrap END */

/* Button STR */
.layer_list_tbl .edit_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 6px 1px 6px; width:fit-content; height:24px; background:#ed5684; border:1px solid #ed5684; border-radius:4px; color:#fff; text-align:center; font-size:13px; cursor:pointer;}
.layer_list_tbl .edit_btn:hover {background:#e93e72;}
.layer_list_tbl .del_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 6px 1px 6px; width:fit-content; height:24px; background:#ff0000; border:1px solid #ff0000; border-radius:4px; color:#fff; text-align:center; font-size:13px; cursor:pointer;}
.layer_list_tbl .del_btn:hover {background:#ff0000;}
/* Button END */

/* Menu STR */
.menu_box {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-bottom:12px; padding:8px 8px 0px 8px; width:100%; background:#e5efff; border:0; border-radius:8px 8px 0px 0px; gap:0 6px;}
.menu_list {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; border:0; border-radius:8px 8px 0px 0px; background:#6d9ac4;}
#menu_list_act {background:#283144;}
.menu_list_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:10px 8px 6px 8px; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
/* Menu END */

/* Left List Wrap STR */
.list_wrap {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:100%; border:0; border-radius:7px; background:#283144; overflow:hidden;}
.list_wrap > .list_wrap_top {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:10px; background:#212939; border-bottom:1px solid #12161e;}
.list_wrap_top > .list_filter_box {flex:1 1 0%; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; gap:0 6px;}
.list_filter_box > .filter_select {margin:0; padding:4px 7px; height:32px; border-radius:3px; font-size:15px;}
.list_filter_box > .filter_input {padding:6px 7px; width:90px; height:32px; border:0; border-radius:3px; font-size:15px; outline:none !important; box-shadow:none !important; border:0 !important;}
.list_wrap > .user_list_wrap {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; flex:1 1 0%; overflow:hidden;}

.user_list_wrap > .list_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse;}
.user_list_wrap > .list_tbl > thead > tr > th {margin:0; padding:8px 2px; border-left:1px solid #12161e; border-right:1px solid #12161e; color:#ededed; font-family:'GmarketSansLight'; font-weight:600; font-size:15px;}
.user_list_wrap > .list_tbl > thead > tr > th:first-child {border-left:0;}
.user_list_wrap > .list_tbl > thead > tr > th:last-child {border-right:0;}

.user_list_wrap > .user_list_box > .list_tbl {margin:0 auto; padding:0; width:100%; border-collapse:collapse;}
.user_list_wrap > .user_list_box > .list_tbl > tbody > tr > td {margin:0; padding:8px 2px; border-left:1px solid #12161e; border-right:1px solid #12161e; color:#fff; font-family:'GmarketSansLight'; font-weight:500; font-size:14px; cursor:pointer;}
.user_list_wrap > .user_list_box > .list_tbl > tbody > tr > td:first-child {border-left:0;}
.user_list_wrap > .user_list_box > .list_tbl > tbody > tr > td:last-child {border-right:0;}
.user_list_wrap > .user_list_box > .list_tbl > tbody > tr:nth-child(odd) > td {background:#374769;}
.user_list_wrap > .user_list_box > .list_tbl > tbody > tr:hover > td {background:#347976;}

.user_list_wrap > .user_list_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; flex:1 1 0%; overflow-y:scroll;}
.user_list_wrap > .user_list_box::-webkit-scrollbar {width:0px;}
.user_list_wrap > .user_list_box::-webkit-scrollbar-thumb {border:0;border-radius:0;background:#6d9ac4;}
.list_selected > td {background:#347976 !important;}

.left_list_numb {width:45px; text-align:center;}
.left_list_status {width:60px; text-align:center;}
.left_list_name {text-align:center;}
.left_list_gender {width:45px; text-align:center;}
.left_list_birth {width:100px; text-align:center;}
.left_list_date {width:110px; text-align:center;}
.left_list_service {width:100px; text-align:center;}
.left_list_id {width:90px; text-align:center;}
.left_list_hp {width:130px; text-align:center;}
/* Left List Wrap END */
