@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%;}
#layer_box {margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Etc STR */
.x90 {width:90px;}
.x100 {width:100px;}
.x110 {width:110px;}
.x120 {width:120px;}
.x140 {width:140px;}
.x160 {width:160px;}

.talign_c {text-align:center;}

.mtop20 {margin-top:20px !important;}
/* Etc END */

/* Management View STR */
.management_tit {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:8px 8px 5px 8px; width:100%; background:#e5efff; border:0; border-radius:8px 8px 0px 0px; font-family:'GmarketSansMedium'; font-weight:100; font-size:16px; gap:0 6px;}
.management_tit:not(:first-child) {margin-top:12px;}
.management_tit > label {display:block; margin:0; padding:5px 8px 3px 8px; border:0; border-radius:4px; color:#fff; background:#333; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}

.management_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:100%; gap:0 6px;}
.management_list {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0;}
.management_list > label {display:block; margin:0; padding:5px 8px 3px 8px; border:0; border-radius:4px; color:#333; background:#ddd; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; text-decoration:line-through; cursor:pointer;}
.management_list > label.permit {color:#fff; background:#347976; text-decoration:none !important;}
.management_list > input[type="checkbox"]:checked + label {color:#fff; background:#347976; text-decoration:none !important;}

.management_group {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-left:20px; padding:0;}
.management_group > label {display:block; margin:0; padding:5px 8px 3px 8px; border:0; border-radius:4px; color:#fff; background:#333; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}

#v_management_wrap {position:relative; flex:1 1 0%; overflow-y:scroll;}
#v_management_wrap::-webkit-scrollbar {display:none; width:0px;}
#v_management_wrap::-webkit-scrollbar-thumb {border:0; border-radius:0; background:#6d9ac4;}
/* Management View END */

/* Manage Write|Edit STR */
.flex_row_addr {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-start; justify-content:flex-start; margin:0; padding:0; width:100%; gap:5.5px 6px;}
.management_checkbox, .management_checkbox_all {display:none;}
.management_tbl > tbody > tr > td {background:none;}
.management_tbl > tbody > tr:hover {background:#d8f8c0;}

.left_list_numb_mng {width:100px; max-width:100px; text-align:center;}
.left_list_status_mng {width:170px; max-width:170px; text-align:center;}
.left_list_branch_mng {width:170px; max-width:170px; text-align:center;}
.left_list_birth_mng {width:150px; max-width:150px; text-align:center;}
.left_list_date_mng {width:150px; max-width:150px; text-align:center;}

.x160 {width:160px;}
.x1050 {width:1050px;}

.y100 {height:100px;}
/* Manage Write|Edit END */