@charset "utf-8";

/* Page Wrap STR */
#layer_wrap {margin:0 auto; padding:0 0 0 30px; width:100%; height:100%; min-height:730px;}
#layer_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0 auto; padding:20px; width:100%; height:100%; background:#fff; box-shadow:0px 0px 14px 4px #cdcdcd; border:0; border-radius:10px;}
/* Page Wrap END */

/* Work Wrap STR */
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(1), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(1) {width:60px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(2), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(2) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(3), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(3) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(4), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(4) {width:150px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(5), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(5) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(6), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(6) {width:130px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(7), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(7) {width:80px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(8), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(8) {width:150px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(9), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(9) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(10), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(10) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(11), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(11) {width:100px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(12), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(12) {width:70px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(13), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(13) {width:70px;}
.layer_list_wrap .layer_list_hd_tbl > thead > tr > th:nth-child(14), .layer_list_wrap .layer_list_tbl > tbody > tr > td:nth-child(14) {width:70px;}

.yellow_bg > td {background:#fcfdb2 !important;}
.red_bg > td {background:#ffdfff !important;}
.list_selected > td {background:#d8f8c0 !important;}

.width_max {width:max-content;}

.work_wrap {flex:1 1 0%; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:8px; width:100%; height:310px; background:#e5efff;}
.work_box {display:flex; flex-direction:row; align-items:flex-start; justify-content:space-between; margin:0; margin-top:12px; padding:0; width:100%; max-width:1314px; flex:1 1 0%;}

.work_member_box {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:40%; height:100%; max-height:282px;}
.work_member_top {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-bottom:8px; padding:0; width:100%;}
.work_link_box {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; width:59%; height:100%; max-height:282px;}
.work_link_top {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-bottom:8px; padding:0; width:100%;}
.work_member_top > div, .work_link_top > div {display:flex; flex-direction:row; align-items:center; justify-content:center; gap:0 6px;}

.set_btn {display:inline-block; margin:0; padding:5px 11px 5px 11px; height:27px; line-height:21px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}

.talign_l {text-align:left !important;}

.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(1), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(1) {width:60px;}
.work_member_box .layer_list_tbl > tbody > tr > td:nth-child(1) {color:#ff0000;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(2), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(2) {width:80px;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(3), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(3) {width:50px;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(4), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(4) {width:130px;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(5), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(5) {width:90px; max-width:90px;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(6), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(6) {width:130px; max-width:130px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.work_member_box .layer_list_hd_tbl > thead > tr > th:nth-child(7), .work_member_box .layer_list_tbl > tbody > tr > td:nth-child(7) {width:250px;}

.work {width:1200px;}
.selected_member_change {width:860px !important;}
.selected_member_change .layer_popup_form {height:401px;}

.selected_member_change_wrap {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; margin-bottom:20px; padding:30px 0; width:100%; gap:0 25px;}
.selected_member_change_wrap > img {margin:0; padding:0;}
.selected_member_change_wrap > div {font-family:'GmarketSansMedium'; font-weight:400; font-size:20px;}
#selected_member_change_btn {display:block; margin:0; padding:6px 20px; border:0; border-radius:4px; color:#fff; background:#333; cursor:pointer;}
/* Work Wrap END */

/* Work Add Form STR */
.work_add_form {display:flex; flex-direction:row; align-items:stretch; justify-content:stretch; margin:0; padding:0; background:#fff; flex:1 1 0%; height:100%; gap:0 12px;}
.work_add_form > div {position:relative; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0;}
.work_add_form > div:nth-child(2) {width:250px;}
.work_add_form > div:last-child {flex:1 1 0%; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0;}
.work_add_form > div > .form_tbl_wrap, .work_add_form > div > .form_tbl_wrap > .form_tbl {flex:1 1 0%;}

.x90 {width:91px;}
.x120 {width:120px;}
.x150 {width:150px;}
.x500 {width:500px;}

.xp100 {width:100% !important;}

.v_cl_memo {margin:0; padding:0; width:100%; height:68px; overflow-y:scroll;}
.v_cl_memo::-webkit-scrollbar {width:3px;}
.v_cl_memo::-webkit-scrollbar-thumb {border:0; border-radius:0; background:#6d9ac4;}

.calendar_wrap {flex:1 1 0%; display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:0; min-height:341px; border:0; border-radius:5px 5px 0 0; overflow:hidden;}
.calendar_top {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; padding:0; width:100%; background:#e5efff;}
.calendar_year_box {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; flex:1 1 0%;}
.calendar_move_btn {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:0; cursor:pointer;}
.work_calendar_tit {margin:0; padding:0; height:20px; font-family:'GmarketSansMedium'; font-weight:100; font-size:19px;}

.work_calendar_tbl {margin:0; padding:0; width:100%; border-collapse:collapse; border-spacing:0; flex:1 1 0%;}
.work_calendar_tbl > thead > tr > th {margin:0; padding:4px 6px; width:14.28%; background:#f1f3f6; border:1px solid #d8dfe8; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:15px;}
.work_calendar_tbl > tbody > tr > td {margin:0; padding:0; height:48px; border:1px solid #d8dfe8;}
.calendar_btn, .calendar_schedule_btn {display:flex; flex-direction:row; flex-wrap:wrap; align-items:flex-start; justify-content:stretch; margin:0; padding:0; width:100%; height:100%; cursor:pointer;}
.calendar_schedule_btn {cursor:default;}
.calendar_schedule_btn > div {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 6px 12px 6px; width:100%;}
.work_calendar_tbl > tbody > tr > td > a > p {display:flex; flex-direction:row; align-items:center; justify-content:flex-end; margin:0; padding:4px 6px; width:100%; height:25px; font-family:'NanumSquare',sans-serif; font-weight:500; font-size:14px;}
.sunday, .holiday {color:#ff0000 !important;}
.saturday {color:#0000ff;}
.last_date {/*background:#cdcdcd;*/background:#f0f0f0;}
.calendar_td .date_selected {background:#d8f8c0 !important;}
.schedule_selected {display:flex; flex-direction:row; align-items:center; justify-content:center; margin:0; padding:4px 12px; color:#fff; border:0; border-radius:3px; background:#333;}

#date_selected_box {display:flex; flex-direction:column; align-items:stretch; justify-content:stretch; margin:0; padding:10px; width:100%; background:#fff; flex:1 1 0%; border:1px solid #cdcbca; overflow-y:scroll;}
#date_selected_box .date_selected {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:5px 0; border-bottom:1px dashed #ddd;}
#date_selected_box .date_selected > a {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:85px; height:25px; font-family:'GmarketSansMedium'; font-weight:100; font-size:12px;}
.selected_delete_btn {position:absolute; right:0; top:50%; transform:translateY(-50%); display:block; margin:0; padding:3px; border:1px solid #ff3633;; border-radius:50%; background:#ff7573;}
.selected_delete_btn > img {display:block; margin:0; padding:0; width:16px;}

.work_add_submit_box {display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin:0; margin-top:12px; padding:0; width:100%;}
.tot_price_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0;}
.tot_price_box > label {height:19px; line-height:23px; font-family:'GmarketSansMedium'; font-weight:500; font-size:15px;}
.tot_price_box > span {height:19px; line-height:23px; font-family:'GmarketSansMedium'; font-weight:500; font-size:15px;}

.add_submit_btn {position:relative; display:block; margin:0; padding:6px 12px; height:31px; line-height:22px; text-align:center; color:#fff; font-family:'GmarketSansMedium'; font-weight:100; font-size:15px; letter-spacing:1px; background:#ed5684; border:0; border-radius:3px; cursor:pointer;}

.calendar_filter {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-bottom:12px; padding:0; width:100%; gap:0 10px;}
.input_label {position:relative; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; padding:0; width:fit-content; font-size:15px;}
.input_label > input {margin-right:3px; width:18px; height:18px;}
#calendar_filter_btn, #all_check_btn {display:inline-block; margin:0; padding:6px 11px 2px 11px; height:27px; border:0; border-radius:4px; color:#fff; background:#434a54; font-family:'GmarketSansMedium'; font-weight:100; font-size:13px; cursor:pointer;}
/* Work Add Form END */

/* Work Member Change STR */
#work_member_tbl_hd > thead > tr > th:nth-child(1), #work_member_tbl_hd > tbody > tr > td:nth-child(1) {width:50px;}
#work_member_tbl_hd > thead > tr > th:nth-child(2), #work_member_tbl_hd > tbody > tr > td:nth-child(2) {width:60px;}
#work_member_tbl_hd > thead > tr > th:nth-child(3), #work_member_tbl_hd > tbody > tr > td:nth-child(3) {width:80px;}
#work_member_tbl_hd > thead > tr > th:nth-child(4), #work_member_tbl_hd > tbody > tr > td:nth-child(4) {width:50px;}
#work_member_tbl_hd > thead > tr > th:nth-child(5), #work_member_tbl_hd > tbody > tr > td:nth-child(5) {width:130px;}
#work_member_tbl_hd > thead > tr > th:nth-child(6), #work_member_tbl_hd > tbody > tr > td:nth-child(6) {width:90px;}
#work_member_tbl_hd > thead > tr > th:nth-child(7), #work_member_tbl_hd > tbody > tr > td:nth-child(7) {width:80px;}
#work_member_tbl_hd > thead > tr > th:nth-child(8), #work_member_tbl_hd > tbody > tr > td:nth-child(8) {width:80px;}
#work_member_tbl_hd > thead > tr > th:nth-child(9), #work_member_tbl_hd > tbody > tr > td:nth-child(9) {width:130px;}
#work_member_tbl_hd > thead > tr > th:nth-child(10), #work_member_tbl_hd > tbody > tr > td:nth-child(10) {width:400px;}

#work_member_tbl > thead > tr > th:nth-child(1), #work_member_tbl > tbody > tr > td:nth-child(1) {width:50px;}
#work_member_tbl > thead > tr > th:nth-child(2), #work_member_tbl > tbody > tr > td:nth-child(2) {width:60px;}
#work_member_tbl > thead > tr > th:nth-child(3), #work_member_tbl > tbody > tr > td:nth-child(3) {width:80px;}
#work_member_tbl > thead > tr > th:nth-child(4), #work_member_tbl > tbody > tr > td:nth-child(4) {width:50px;}
#work_member_tbl > thead > tr > th:nth-child(5), #work_member_tbl > tbody > tr > td:nth-child(5) {width:130px;}
#work_member_tbl > thead > tr > th:nth-child(6), #work_member_tbl > tbody > tr > td:nth-child(6) {width:90px;}
#work_member_tbl > thead > tr > th:nth-child(7), #work_member_tbl > tbody > tr > td:nth-child(7) {width:80px;}
#work_member_tbl > thead > tr > th:nth-child(8), #work_member_tbl > tbody > tr > td:nth-child(8) {width:80px;}
#work_member_tbl > thead > tr > th:nth-child(9), #work_member_tbl > tbody > tr > td:nth-child(9) {width:130px;}
#work_member_tbl > thead > tr > th:nth-child(10), #work_member_tbl > tbody > tr > td:nth-child(10) {width:400px;}
.member_select_list_selected > td {background:#d8f8c0 !important;}
/* Work Member Change END */

#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(1), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(1) {width:60px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(2), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(2) {width:80px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(3), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(3) {width:50px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(4), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(4) {width:130px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(5), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(5) {width:90px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(6), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(6) {width:120px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(7), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(7) {width:100px;}

#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(8), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(8) {width:80px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(9), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(9) {width:130px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(10), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(10) {width:100px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(11), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(11) {width:100px;}
#scheduleform .layer_list_hd_tbl > thead > tr > th:nth-child(12), #scheduleform .layer_list_tbl > tbody > tr > td:nth-child(12) {width:100px;}

/* Work Selected List STR */
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(1), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(1) {width:80px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(2), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(2) {width:70px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(3), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(3) {width:85px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(4), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(4) {width:100px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(5), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(5) {width:120px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(6), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(6) {width:65px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(7), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(7) {width:55px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(8), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(8) {width:55px;}
.work_link_box .layer_list_hd_tbl > thead > tr > th:nth-child(9), .work_link_box .layer_list_tbl > tbody > tr > td:nth-child(9) {width:110px;}
/* Work Selected List END */

/* Work Selected Member Change List STR */
.selected_member_change_tbl th:nth-child(1), .selected_member_change_tbl td:nth-child(1) {width:40px;}
.selected_member_change_tbl th:nth-child(2), .selected_member_change_tbl td:nth-child(2) {width:80px;}
.selected_member_change_tbl th:nth-child(3), .selected_member_change_tbl td:nth-child(3) {width:70px;}
.selected_member_change_tbl th:nth-child(4), .selected_member_change_tbl td:nth-child(4) {width:90px;}
.selected_member_change_tbl th:nth-child(5), .selected_member_change_tbl td:nth-child(5) {width:110px;}
.selected_member_change_tbl th:nth-child(6), .selected_member_change_tbl td:nth-child(6) {width:130px;}
.selected_member_change_tbl th:nth-child(7), .selected_member_change_tbl td:nth-child(7) {width:70px;}
.selected_member_change_tbl th:nth-child(8), .selected_member_change_tbl td:nth-child(8) {width:55px;}
.selected_member_change_tbl th:nth-child(9), .selected_member_change_tbl td:nth-child(9) {width:55px;}
.selected_member_change_tbl th:nth-child(10), .selected_member_change_tbl td:nth-child(10) {}

#member_change_list_wrap {display:none; position:absolute; left:0; top:0; margin:0; padding:0; width:100%; height:100%; background:#fff; overflow:hidden; z-index:20;}
#member_change_close_btn {cursor:pointer;}
#change_mb_name_txt {display:none;}
#work_member_text_box {display:flex; flex-direction:row; align-items:center; justify-content:flex-start; margin:0; margin-bottom:10px; padding:0; width:100%;}
#work_member_text_box > p {font-family:'GmarketSansMedium'; font-weight:500; font-size:16px;}
/* Work Selected Member Change List END */
